.gallery .swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery--zoomed .gallery-top .swiper-slide {
  background-size: contain;
  background-repeat: no-repeat;
}

.gallery__icon-zoom--min {
  display: none;
}

.gallery--zoomed .gallery__icon-zoom {
  display: none;
}

.gallery--zoomed .gallery__icon-zoom {
  fill: #fff;
}

.gallery--zoomed .gallery__icon-zoom--min {
  display: block;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}


.gallery .swiper-button-next:after,
.gallery .swiper-button-prev:after {
  content: '';
}


.gallery__icon-arrow {
  width: calc(var(--swiper-navigation-size)/44*27);
  height: var(--swiper-navigation-size);
  fill: #fff;
  transition: 0.3s ease-in fill;
}

.swiper-button-prev .gallery__icon-arrow {
  transform: rotate(180deg);
}

.gallery__btn {
  display: block;
  border: none;
  background: none;
  outline: none;

  @include mobile-max {
    display: none;
  }
}

.gallery__btn:hover .gallery__icon-arrow {
  fill: $gold-color;
}

.gallery {
  position: relative;
}

.gallery__zoom-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translate(-8px, 15px);
  transition: linear opacity 0.3s;

  @include mobile-max {
    display: none;
  }
}

.gallery__zoom-btn:hover {
  opacity: 0.3;
}
