.main-banner {
  background-image: url("../img/main-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  // height: calc(var(--vh, 1vh)*100);
  width: 100vw;

  @include tablet-max {
    margin-top: 0;
  }

  @include mobile-max {
    @media (orientation: portrait) {
      background-position-x: -170px;
    }
  }
}

.main-banner--gardens {
  background-image: url("../img/summerhouse-11@1x.jpg");
}

.main-banner h1 {
  font-size: 44px;
  line-height: 60px;
  color: #000000;
  margin: 0;
  padding: 15px;
  background-image: linear-gradient(45deg, #ffffff, transparent);
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;

  @include tablet-max {
    font-size: 40px;
    line-height: 49px
  }

  @include mobile-max {
    font-size: 30px;
    line-height: 35px;
  }
}


.main-banner .center-wrapper {
  padding-top: 50vh;
}
