.main-banner {
  background-image: url("../img/main-banner-07.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  @include tablet-max {
    margin-top: 0;
  }

  @include mobile-max {
    background-image: url("../img/main-banner-mobile-07.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @media (orientation: portrait) {
      background-position-x: -170px;
    }
  }
}

.main-banner--gardens {
  background-image: url("../img/summerhouse-11@1x.jpg");
}

.main-banner h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(9vh - 23px);
  font-size: 58px;
  line-height: calc(7vh - 10px);
  line-height: 53px;
  font-weight: 700;
  color: #ffff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  letter-spacing: 0.04em;
  overflow: hidden;

  @include tablet-max {
    font-size: 40px;
    line-height: 49px;
    padding: 0;
  }

  @include mobile-max {
    font-size: 32px;
    line-height: 35px;
  }
}


.main-banner .center-wrapper {
  padding-top: 50vh;

  @include tablet-max {
    padding-top: 73vh;
  }

  @include mobile-max {
    padding-top: 50vh;
  }
}
