// Section
.offer-timing {
  background-color: rgba($color: #111822, $alpha: 0.1);
  padding-top: 30px;
  padding-bottom: 50px;

  // @include tablet-max {
  //   padding-top: 35px;
  //   padding-bottom: 45px;
  // }
}

// Title
.offer-timing .typography-h2 {
  color: #232126;
  margin: 0;
  margin-bottom: 35px;
  text-align: center;

  @include tablet-max {
    font-size: 30px;
  }

  @include mobile-max {
    font-size: 24px;
  }
}

// List
.offer-timing__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  width: 100%;

  @include tablet-max {
    column-gap: 55px;
  }

  @include mobile-max {
    display: flex;
    flex-direction: column;
  }
}

.offer-timing__list>li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.offer-timing__list>li:not(:last-child) {
  @include mobile-max {
    margin-bottom: 36px;
  }
}

// Text
.offer-timing__date,
.offer-timing__text {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;

  @include tablet-max {
    font-size: 18px;
    line-height: 20px;
  }
}

.offer-timing__date {
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 17px;
  align-self: center;

  @include mobile-max {
    margin-bottom: 3px;
  }
}

.offer-timing__text {
  text-align: center;

  @include mobile-max {
    font-size: 13px;
    width: 80%;
    margin: 0 auto;
  }
}

//Icons
.offer-timing__icon {
  background-color: $gold-color;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 18px;
  align-self: center;
}

.offer-timing__icon--knock {
  animation: knock 1.5s infinite ease-in-out;
}

@keyframes knock {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(0);
  }
}
