.offer-form {
  width: 70%;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: $black-popup-color;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000000000;

  @include mobile-max {
    width: 80%;
  }
}

.offer-form__form-name,
.offer-form__form-phone {
  align-self: center;
  width: 100%;
  margin-bottom: 30px;
}

.offer-form__form-name input,
.offer-form__form-phone input {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  color: #000;
  border: 2px solid $mid-black-color;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 10px;
  border-radius: 6px;
  @include placeholder(12px, 22px, #000);
  outline: none;
  transition: linear all .3s;

  &:hover {
    box-shadow: 0 0 2px 2px $gold-color;
  }

  &:focus {
    box-shadow: 0 0 2px 2px $gold-color;
  }
}

.offer-form__offer-desc {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  padding: 15px 0;
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  margin-bottom: 30px;
}

.offer-form__offer-desc img {
  width: 120px;
  height: 90px;
  object-fit: cover;
}

.offer-form__offer-desc .products__label {
  margin: 0;

  @include mobile-max {
    flex-wrap: wrap;
  }
}

.offer-form__offer-desc .products__name {
  font-size: 15px;

  @include mobile-max {
    flex-basis: 100%;
  }
}

.offer-form__offer-desc .products__cost {
  font-size: 13px;
  line-height: 17px;
}

.offer-form__offer-desc .products__info {
  flex-basis: 60%;
}

.offer-form__title p {
  margin: 0;
  color: #fff;
}

.offer-form__title {
  margin-bottom: 15px;
}

.offer-form__form-send .popup-item__offer-btn {
  margin: 0 auto;
  font-size: 16px;
  padding: 8px 60px;
}

.offer-form__loader.lds-ellipsis {
  display: none;
  width: 40px;
  height: 0;
  transform: translate(-17px, -45px);
}

.offer-form__btn--loading {
  background-color: $mid-black-color;
}

.offer-form__btn--loading span {
  display: none;
}

.offer-form__btn--loading .offer-form__loader.lds-ellipsis {
  display: inline-block;
}

