.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  box-sizing: border-box;
  background-color: $black-popup-color;
  z-index: 100500;
}

.popup--active {
  display: flex;
}

.popup--inactive {
  z-index: 0;
}

.popup--form {
  border-radius: 8px;
  padding: 90px 30px 20px;
  width: 500px;
  min-height: 500px;

  @include mobile-max {
    width: calc(100vw - 2 * 20px);
    max-height: calc(100vh - 2 * 10px);
    max-height: calc(var(--vh, 1vh)*100 - 2 * 10px);
    padding: 90px 0px 30px;
  }
}

.popup .menu-toggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.popup .menu-toggle {
  width: 40px;
}

