// Section
.products {
  background-color: $mid-grey-color;
  padding-top: 47px;
  padding-bottom: 60px;

  @include mobile-max {
    padding-top: 40px;
  }
}

// Products list
.products_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  column-gap: 43px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

  @include desktop-only {
    margin-left: -10px;
  }

  @include mobile-max {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }
}

.products_list >li:not(:last-child) {
  margin-bottom: 60px;
}

.products__item>a {
  text-decoration: none;
  display: block;
}

.products__item {
  padding: 10px;
  transition: linear box-shadow 0.3s;
  --hover-color: #f1c40f;

  @include tablet-max {
    padding: 0;
  }
}

.products__item--gardens {
  --hover-color: #668e8d;
}

.products__item--animals {
  --hover-color: #8e663c;
}

.products__item--decor {
  --hover-color: #8b591c;
}

@include desktop-only {
  .products__item:hover {
    box-shadow: 0 0 10px 10px var(--hover-color);
    cursor: pointer;
  }
}

// Label
.products__label {
  color: $gold-color;
  margin-top: 18px;
  margin-bottom: 12px;

  @include mobile-max {
    display: flex;
    justify-content: space-between;
  }
}

.products__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 5px;
  text-transform: uppercase;

  @include mobile-max {
    margin: 0;
    align-self: center;
  }
}

.products__cost {
  color: #141821;
  font-size: 15px;
  line-height: 14px;
  background-color: $gold-color;
  padding: 6px 13px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.products__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #ffffff;
  width: 240px;

  @include mobile-max {
    font-size: 16px;
    line-height: 22px;
    width: auto;
  }
}

.products__item img {
  width: 100%;
  object-fit: cover;
}
