// Headers
.typography-h2 {
  font-size: 27px;
  letter-spacing: .03em;
  line-height: 44px;
  margin: 0 0 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;

  @include tablet-max {
    font-size: 30px;
  }
}
