@font-face {
  font-family: "NotoSerif";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSerif.woff2") format("woff2"),
      url("../fonts/NotoSerif.woff") format("woff");
}

@font-face {
  font-family: "NotoSerif";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSerif-Bold.woff2") format("woff2"),
      url("../fonts/NotoSerif-Bold.woff") format("woff");
}
