@mixin tablet-max {
  @media (max-width: $tabletResolution) {
    @content;
  }
}

@mixin mobile-max {
  @media (max-width: $mobileResolution) {
    @content;
  }
}

@mixin  desktop-only {
  @media (min-width: $desktopResolution) {
    @content;
  }
}

@mixin placeholder($font-size, $line-height, $color) {
  &::-webkit-input-placeholder {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
  }

  &:-moz-placeholder {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
  }

  &::-moz-placeholder {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
  }

  &:-ms-input-placeholder {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
  }
}
