@import "normalize.scss";
@import "mixin.scss";
@import "variables.scss";
@import "blocks/typography.scss";
@import "blocks/center-wrapper.scss";
@import "blocks/popup.scss";
@import "blocks/header.scss";
@import "blocks/module-block.scss";
@import "blocks/main-banner.scss";
@import "blocks/menu-toggle.scss";
@import "blocks/products.scss";
@import "blocks/offer-timing.scss";
@import "blocks/video-review.scss";
@import "blocks/advantages.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/popup-item.scss";
@import "blocks/overlay.scss";
@import "blocks/swiper.scss";
@import "blocks/gallery.scss";
@import "blocks/offer-form.scss";
@import "blocks/message.scss";
@import "blocks/loader.scss";



body {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
}

.body--overflow {
  overflow: hidden;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
