//Breakpoints
$desktopResolution: 1024px;
$tabletResolution: 1023px;
$mobileResolution: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//Transition
$time-transition: 0.4s;
$func-transition: ease-in;


//Colors
$mid-black-color: #292929;
$gold-color: #f1c40f;
$green-whatsapp-color: #43d854;
$blue-vk-color: #2787F5;
